<template>
  <teleport to="body">
    <base-dialog
      v-if="inputsAreInvalid"
      title="Invalid Inputs"
      @close="closeDialog"
    >
      <template v-slot:default>
        <p>Unfortenatly at least one input value is in valid</p>
        <p>please check your inputs</p>
      </template>

      <template v-slot:actions>
        <button
          @click="closeDialog"
          class="px-3 py-2.5 text-white bg-[var(--mainBlue)] w-32 search"
        >
          Close
        </button>
      </template>
    </base-dialog>
  </teleport>
  <form class="flex items-center justify-evenly gap-1 h-full flex">
    <div class="flex items-center rounded">
      <div class="gap-3 flex">
        <div
          class="location flex destination rounded items-center"
          @click="handleArrow"
        >
          <label for="browser">
            <figure>
              <img
                src="../../../assets/Form-Svg/Rooms-input.svg"
                alt="location pic"
                class="cursor-pointer mx-1"
                width="20"
                height="20"
              />
            </figure>
          </label>
          <input
            type="text"
            class="py-5 h-10 outline-none w-10/12"
            id="browser"
            placeholder="Where are you going?"
            @click="locationSearch"
            v-model="searchQuery"
            autocomplete="off"
          />
          <img
            src="../../../assets/Form-Svg/arrow-down 1.svg"
            alt="arrow"
            width="15"
            height="15"
            class="mr-1"
            :class="{ flipArrow: arr }"
          />
          <ul
            class="absolute text-black w-[190px] rounded-lg shadow-md pt-2 px-1 top-[67px] bg-[#f2f2f2]"
            v-show="mapboxResult && arr"
          >
            <li
              v-for="searchResult in mapboxResult"
              :key="searchResult.dest_id"
              class="py-2 cursor-pointer text-center"
              :ref="inputValue"
              @click="handleInp(searchResult.city_name, searchResult.dest_id)"
              v-show="searchResult.city_name"
            >
              {{ searchResult.city_name }}
            </li>
          </ul>
        </div>
        <!-- //////////////////////////////////////////////// -->
        <div class="checkin flex destination rounded items-center">
          <label for="checkinDate">
            <figure>
              <img
                src="../../../assets/Form-Svg/calendar.svg"
                alt=" Calendar pic"
                class="cursor-pointer mx-1"
                width="20"
                height="20"
              />
            </figure>
          </label>
          <div class="w-40">
            <VueDatePicker
              v-model="indate"
              placeholder="Check in date"
              id="checkinDate"
              format="MM-dd-yyyy"
              value-format="MM-dd-yyyy"
              :enable-time-picker="false"
              model-type="yyyy-MM-dd"
            >
            </VueDatePicker>
          </div>
        </div>
        <!-- /////////////////////////////////////////////////////// -->
        <div class="checkout flex destination rounded items-center">
          <label for="checkinDate">
            <figure>
              <img
                src="../../../assets/Form-Svg/calendar.svg"
                alt=" Calendar pic"
                class="cursor-pointer mx-1"
                width="20"
                height="20"
              />
            </figure>
          </label>
          <div class="w-40">
            <VueDatePicker
              v-model="outdate"
              placeholder="Check out date"
              id="checkinDate"
              format="MM-dd-yyyy"
              value-format="MM-dd-yyyy"
              :enable-time-picker="false"
              model-type="yyyy-MM-dd"
            ></VueDatePicker>
          </div>
        </div>

        <!-- ////////////////////////////////////////////////////////////// -->
        <div class="guests flex destination rounded items-center">
          <label for="guests">
            <figure>
              <img
                src="../../../assets/Form-Svg/user-guests.svg"
                alt=" Guest Person"
                class="cursor-pointer mx-1 mr-2.5"
                width="20"
                height="20"
              />
            </figure>
          </label>
          <input
            class="py-5 h-10 outline-none w-10/12"
            type="text"
            id="guests"
            placeholder="Guests"
            v-model="adultNumber"
            autocomplete="off"
          />
        </div>
        <!-- /////////////////////////////////////////////////// -->
        <div class="room flex destination rounded items-center">
          <label for="room">
            <figure>
              <img
                src="../../../assets/Form-Svg/Rooms-input.svg"
                alt=" Bed Pic"
                class="cursor-pointer mx-1"
                width="20"
                height="20"
              />
            </figure>
          </label>
          <input
            class="py-5 h-10 outline-none w-10/12"
            type="text"
            id="room"
            placeholder="Room"
            v-model="rooms"
            autocomplete="off"
          />
        </div>
      </div>
    </div>

    <button
      type="button"
      class="px-3 py-2.5 text-white w-32 search"
      @click="
        getHotelsData(
          cityID.value,
          indate.value,
          outdate.value,
          adultNumber.value,
          rooms.value,
          searchQuery.value,
          inputsAreInvalid.value
        )
      "
    >
      Search
    </button>
  </form>
</template>

<script setup>
import { ref, onMounted, watch } from "vue";
import VueDatePicker from "@vuepic/vue-datepicker";
import "@vuepic/vue-datepicker/dist/main.css";
import { useAPIData } from "@/stores/APIDataStore";
import { keepDataAlive } from "@/stores/KeepingDataAlive";
import axios from "axios";
const dataStore = useAPIData();
const keepDataAliveStore = keepDataAlive();

// Keeping Data Alive
const searchQuery = ref(keepDataAliveStore.searchQuery);
watch(searchQuery, () => {
  keepDataAliveStore.updateLocationValue(searchQuery.value);
});
const indate = ref(keepDataAliveStore.checkinDate);
watch(indate, () => {
  keepDataAliveStore.updateCheckinDateValue(indate.value);
});

const outdate = ref(keepDataAliveStore.checkoutDate);
watch(outdate, () => {
  keepDataAliveStore.updateCheckoutDateValue(outdate.value);
});

const adultNumber = ref(keepDataAliveStore.guestNumber);
watch(adultNumber, () => {
  keepDataAliveStore.updateGuestValue(adultNumber.value);
});

const rooms = ref(keepDataAliveStore.roomsNumber);
watch(rooms, () => {
  keepDataAliveStore.updateRoomsValue(rooms.value);
});

// Search hotel destination logic
const mapboxResult = ref(null);
onMounted(async () => {
  const options = {
    method: "GET",
    url: "https://booking-com15.p.rapidapi.com/api/v1/hotels/searchDestination",
    params: { query: "egypt"
    type:"city"
  },
    headers: {
      "X-RapidAPI-Key": "87d9ed6a55mshd9497d1a515c026p13eb34jsn8b01f10dc615",
      "X-RapidAPI-Host": "booking-com15.p.rapidapi.com",
    },
  };

  try {
    const response = await axios.request(options);
    mapboxResult.value = response.data.data;
  } catch (error) {
    console.error(error);
  }
  return;
});

// Location Logic
const inputValue = ref("");
const arr = ref(false);
const cityID = ref("");
const locationSearch = function () {
  arr.value = !arr.value;
};
const handleInp = function (city, id) {
  searchQuery.value = city;
  cityID.value = id;
  arr.value = !arr.value;
};
///////////////////////// Check Data Before Submit//////////////////////////
const inputsAreInvalid = ref(false);

const closeDialog = function () {
  inputsAreInvalid.value = false;
};
//////////////////////////////////////////////////////////////////Dates Logic/////////////////////
// dataStore.hotelSearchData = getHotelsData(
//   cityID.value,
//   indate.value,
//   outdate.value,
//   adultNumber.value,
//   rooms.value,
//   searchQuery.value,
//   inputsAreInvalid.value
// );
const checkBeforeSubmit = function (searchQuery, inputsAreInvalid) {
  if (searchQuery === "" || indate === "" || outdate === "") {
    inputsAreInvalid = true;
    return;
  }
};
const getHotelsData = async () => {
  if (!checkBeforeSubmit(cityID, indate, outdate, adultNumber, rooms)) {
    const options = {
      method: "GET",
      url: "https://booking-com15.p.rapidapi.com/api/v1/hotels/searchHotels",
      params: {
        dest_id: `${cityID.value}`,
        search_type: "city",
        arrival_date: `${indate.value}`,
        departure_date: `${outdate.value}`,
        adults: `${adultNumber.value || 1}`,
        children_age: "0,17",
        room_qty: `${rooms.value || 1}`,
        page_number: "1",
        languagecode: "en-us",
        currency_code: "USD",
      },
      headers: {
        "X-RapidAPI-Key": "87d9ed6a55mshd9497d1a515c026p13eb34jsn8b01f10dc615",
        "X-RapidAPI-Host": "booking-com15.p.rapidapi.com",
      },
    };

    try {
      const response = await axios.request(options);
      dataStore.hotelSearchData = response.data.data.hotels;
      console.log(dataStore.hotelSearchData);
      console.log(response.data.data.hotels);
    } catch (error) {
      console.error(error);
    }
    return;
  }
};
///////////////////////////// pagination
// const itemsPerPage = ref(5);
// const currentPage = ref(1);

// const totalPages = computed(() =>
//   Math.ceil(dataStore.hotelSearchData.length / dataStore.hotelSearchDataPerPage)
// );

// const paginatedItems = watch(dataStore.hotelSearchData, () => {
//   const startIndex = (currentPage - 1) * itemsPerPage;
//   const endIndex = startIndex + itemsPerPage;
//   return dataStore.hotelSearchData.slice(startIndex, endIndex);
// });
// const nextPage = () => {
//   console.log(paginatedItems.value);
//   if (currentPage < totalPages) {
//     currentPage++;
//   }
// };
// const prevPage = () => {
//   if (currentPage > 1) {
//     currentPage--;
//   }
// };
</script>

<style scoped>
.destination,
input {
  background-color: #f2f2f2;
  font-size: 13px;
}
.search {
  border-radius: 6px;
  background-color: var(--mainBlue);
}

.location {
  width: 188px;
}
.flipArrow {
  transform: rotate(180deg);
}
img {
  transition: all 0.2s;
}
li {
  border-bottom: solid 1px rgba(214, 214, 214, 1);
}
</style>

<style>
.dp__pointer {
  background-color: #f2f2f2;
  border: none;
  padding-inline: 4px;
  font-size: 13px;
}
.dp__active_date {
  color: black;
  background-color: var(--mainBlue);
  border-radius: 50%;
}
.dp__action_select {
  background-color: var(--mainBlue) !important;
}

svg {
  visibility: hidden;
}

.dp__pointer::placeholder {
  color: gray;
  font-family: work sans;
}
</style>
