<template>
  <form class="flex items-center justify-evenly gap-1 h-full flex">
    <div class="flex items-center rounded">
      <div class="gap-3 flex">
        <div class="location flex destination rounded items-center">
          <label for="browser" @click="flipArrow = !flipArrow">
            <figure>
              <img
                src="../../../assets/Form-Svg/Rooms-input.svg"
                alt="location pic"
                class="cursor-pointer mx-1"
                width="20"
                height="20"
              />
            </figure>
          </label>
          <input
            list="browsers"
            name="browser"
            class="py-5 h-10 outline-none mr-1"
            id="browser"
            placeholder="Where are you going?"
            @input="false"
          />

          <datalist id="browsers">
            <option value="Edge"></option>
            <option value="Firefox"></option>
            <option value="Chrome"></option>
            <option value="Opera"></option>
            <option value="Safari"></option>
          </datalist>
          <img
            src="../../../assets/Form-Svg/arrow-down 1.svg"
            :class="{ fliparrow: flipArrow }"
            alt=""
          />
        </div>
        <!-- //////////////////////////////////////////////// -->
        <div class="checkin flex destination rounded items-center">
          <label for="checkinDate">
            <figure>
              <img
                src="../../../assets/Form-Svg/calendar.svg"
                alt=" Calendar pic"
                class="cursor-pointer mx-1"
                width="20"
                height="20"
              />
            </figure>
          </label>
          <!-- <input
            class="py-5 h-10 outline-none"
            type="text"
            id="checkinDate"
            placeholder="Check in date?"
          /> -->
          <check-in ref="nb" />
        </div>

        <!-- /////////////////////////////////////////////////////// -->
        <div class="checkout flex destination rounded items-center">
          <label for="checkinDate">
            <figure>
              <img
                src="../../../assets/Form-Svg/calendar.svg"
                alt=" Calendar pic"
                class="cursor-pointer mx-1"
                width="20"
                height="20"
              />
            </figure>
          </label>
          <check-out />
        </div>

        <!-- ////////////////////////////////////////////////////////////// -->
        <div class="guests flex destination rounded items-center">
          <label for="guests">
            <figure>
              <img
                src="../../../assets/Form-Svg/user-guests.svg"
                alt=" Guest Person"
                class="cursor-pointer mx-1"
                width="20"
                height="20"
              />
            </figure>
          </label>
          <input
            class="py-5 h-10 outline-none"
            type="text"
            id="guests"
            placeholder="Guests"
          />
        </div>
        <!-- /////////////////////////////////////////////////// -->
        <div class="room flex destination rounded items-center">
          <label for="room">
            <figure>
              <img
                src="../../../assets/Form-Svg/Rooms-input.svg"
                alt=" Bed Pic"
                class="cursor-pointer mx-1"
                width="20"
                height="20"
              />
            </figure>
          </label>
          <input
            class="py-5 h-10 outline-none"
            type="text"
            id="room"
            placeholder="Room"
          />
        </div>
      </div>
    </div>

    <button type="button" class="px-3 py-2.5 text-white w-32 search">
      Search
    </button>
  </form>
</template>

<script setup>
import CheckIn from "../HeaderComponent/DatesInputs/CheckinDate";
import CheckOut from "../HeaderComponent/DatesInputs/CheckoutDate";
import { ref } from "vue";
const flipArrow = ref(false);
</script>

<style scoped>
[list]::-webkit-calendar-picker-indicator {
  opacity: none;
}
[list]::-webkit-calendar-picker-indicator:hover {
  opacity: none;
}
.fliparrow {
  transform: rotate(0.5turn);
}
.destination,
input {
  background-color: #f2f2f2;
  font-size: 13px;
}
.search {
  border-radius: 6px;
  background-color: var(--mainBlue);
}
</style>
