<template>
  <form class="flex items-center justify-evenly gap-1 h-full flex">
    <div class="destination flex items-center rounded">
      <label :for="inpData.id">
        <figure>
          <img
            :src="inpData.imageSrc"
            :alt="inpData.alt"
            class="cursor-pointer mx-1"
            width="20"
            height="20"
          />
        </figure>
      </label>
      <input
        class="py-5 h-10 outline-none"
        type="text"
        :id="inpData.id"
        :placeholder="inpData.placeholder"
      />
    </div>

    <button type="button" class="px-3 py-2.5 text-white w-32">Search</button>
  </form>

  <Menu>
    <MenuButton>More</MenuButton>
    <MenuItems>
      <MenuItem v-slot="{ active }">
        <a :class="{ 'bg-blue-500': active }" href="/account-settings">
          Account settings
        </a>
      </MenuItem>
      <MenuItem v-slot="{ active }">
        <a :class="{ 'bg-blue-500': active }" href="/account-settings">
          Documentation
        </a>
      </MenuItem>
      <MenuItem disabled>
        <span class="opacity-75">Invite a friend (coming soon!)</span>
      </MenuItem>
    </MenuItems>
  </Menu>
</template>

<script setup>
import { Menu, MenuButton, MenuItems, MenuItem } from "@headlessui/vue";
const formData = [
  {
    imageSrc: require("../../../assets/Form-Svg/Rooms-input.svg"),
    alt: "Location Pic",
    id: "location",
    placeholder: "Where are you going?",
  },
  {
    imageSrc: require("../../../assets/Form-Svg/calendar.svg"),
    alt: "Calendar Pic",
    id: "checkoutDate",
    placeholder: "Check out date",
  },
  {
    imageSrc: require("../../../assets/Form-Svg/calendar.svg"),
    alt: "Calendar Pic",
    id: "checkinDate",
    placeholder: "Check in date",
  },
  {
    imageSrc: require("../../../assets/Form-Svg/user-guests.svg"),
    alt: "Guest Person",
    id: "guests",
    placeholder: "Guests",
  },
  {
    imageSrc: require("../../../assets/Form-Svg/Rooms-input.svg"),
    alt: "Bed Pic",
    id: "room",
    placeholder: "Rooms",
  },
];
</script>

<style scoped>
.destination,
input {
  background-color: #f2f2f2;
  font-size: 13px;
}
button {
  border-radius: 6px;
  background-color: var(--mainBlue);
}
</style>
