<template>
    <form class="flex items-center justify-evenly gap-1 h-full flex">
      <div class="flex items-center rounded">
        <div class="gap-3 flex">
          <div
            class="location flex destination rounded items-center"
            @click="handleArrow"
          >
            <label for="browser">
              <figure>
                <img
                  src="../../../assets/Form-Svg/Rooms-input.svg"
                  alt="location pic"
                  class="cursor-pointer mx-1"
                  width="20"
                  height="20"
                  @click="x"
                />
              </figure>
            </label>
            <input
              type="text"
              class="py-5 h-10 outline-none w-10/12"
              id="browser"
              placeholder="Where are you going?"
              @click="locationSearch"
              v-model="searchQuery"
              autocomplete="off"
            />
            <img
              src="../../../assets/Form-Svg/arrow-down 1.svg"
              alt="arrow"
              width="15"
              height="15"
              class="mr-1"
              :class="{ flipArrow: arr }"
            />
            <ul
              class="absolute text-black w-1/5 rounded-lg shadow-md pt-2 px-1 top-[67px] bg-white"
              v-show="mapboxResult && arr"
            >
              <li
                v-for="searchResult in mapboxResult"
                :key="searchResult.id"
                class="py-2 cursor-pointer"
                :ref="inputValue"
                @click="handleInp(searchResult.city_name, searchResult.dest_id)"
                v-show="searchResult.city_name"
              >
                {{ searchResult.city_name }}
              </li>
            </ul>
          </div>
          <!-- //////////////////////////////////////////////// -->
          <div class="checkin flex destination rounded items-center">
            <label for="checkinDate">
              <figure>
                <img
                  src="../../../assets/Form-Svg/calendar.svg"
                  alt=" Calendar pic"
                  class="cursor-pointer mx-1"
                  width="20"
                  height="20"
                />
              </figure>
            </label>
            <div class="w-40">
              <VueDatePicker
                v-model="indate"
                placeholder="Check in date"
                id="checkinDate"
                format="MM-dd-yyyy"
                value-format="YYYY-MM-DD"
                :enable-time-picker="false"
                model-type="yyyy-MM-dd"
              >
              </VueDatePicker>
            </div>
          </div>
          <!-- /////////////////////////////////////////////////////// -->
          <div class="checkout flex destination rounded items-center">
            <label for="checkinDate">
              <figure>
                <img
                  src="../../../assets/Form-Svg/calendar.svg"
                  alt=" Calendar pic"
                  class="cursor-pointer mx-1"
                  width="20"
                  height="20"
                />
              </figure>
            </label>
            <div class="w-40">
              <VueDatePicker
                v-model="outdate"
                placeholder="Check out date"
                id="checkinDate"
                format="MM-dd-yyyy"
                value-format="MM-dd-yyyy"
                :enable-time-picker="false"
                model-type="yyyy-MM-dd"
              ></VueDatePicker>
            </div>
          </div>

          <!-- ////////////////////////////////////////////////////////////// -->
          <div class="guests flex destination rounded items-center">
            <label for="guests">
              <figure>
                <img
                  src="../../../assets/Form-Svg/user-guests.svg"
                  alt=" Guest Person"
                  class="cursor-pointer mx-1"
                  width="20"
                  height="20"
                />
              </figure>
            </label>
            <input
              class="py-5 h-10 outline-none"
              type="text"
              id="guests"
              placeholder="Guests"
              v-model="adultNumber"
            />
          </div>
          <!-- /////////////////////////////////////////////////// -->
          <div class="room flex destination rounded items-center">
            <label for="room">
              <figure>
                <img
                  src="../../../assets/Form-Svg/Rooms-input.svg"
                  alt=" Bed Pic"
                  class="cursor-pointer mx-1"
                  width="20"
                  height="20"
                />
              </figure>
            </label>
            <input
              class="py-5 h-10 outline-none"
              type="text"
              id="room"
              placeholder="Room"
              v-model="rooms"
            />
          </keep-alive>
          </div>
        </div>
      </div>

      <button
        type="button"
        class="px-3 py-2.5 text-white w-32 search"
        @click="getHotelsData"
      >
        Search
      </button>
    </form>
</template>

<script setup>
import { onMounted, ref } from "vue";
import VueDatePicker from "@vuepic/vue-datepicker";
import "@vuepic/vue-datepicker/dist/main.css";
import { useAPIData } from "@/stores/APIDataStore";
import axios from "axios";
// Search hotel destination logic
const searchQuery = ref("");
const mapboxResult = ref(null);
onMounted(async () => {
  const options = {
    method: "GET",
    url: "https://booking-com15.p.rapidapi.com/api/v1/hotels/searchDestination",
    params: { query: "egypt" },
    headers: {
      "X-RapidAPI-Key": "877b28e520mshf1282e0d7767a3ap1b37b6jsnd5321f74ef9c",
      "X-RapidAPI-Host": "booking-com15.p.rapidapi.com",
    },
  };

  try {
    const response = await axios.request(options);
    mapboxResult.value = response.data.data;
    console.log(response.data);
  } catch (error) {
    console.error(error);
  }
  return;
});

// Location Logic
const inputValue = ref("");
const arr = ref(false);
const cityID = ref("");
const locationSearch = function () {
  arr.value = !arr.value;
};
const handleInp = function (city, id) {
  searchQuery.value = city;
  cityID.value = id;
  arr.value = !arr.value;
};
// ////////////////////////////
const rooms = ref("");

//////////////////////////////////////////////////////////////////Dates Logic/////////////////////
const outdate = ref("");
const indate = ref("");
const adultNumber = ref(null);
const getHotelsData = async () => {
  if (searchQuery.value !== "") {
    const options = {
      method: "GET",
      url: "https://booking-com15.p.rapidapi.com/api/v1/hotels/searchHotels",
      params: {
        dest_id: `${cityID.value}`,
        search_type: "city",
        arrival_date: `${indate.value}`,
        departure_date: `${outdate.value}`,
        adults: `${adultNumber.value || 1}`,
        children_age: "0,17",
        room_qty: `${rooms.value || 1}`,
        page_number: "1",
        languagecode: "en-us",
        currency_code: "USD",
      },
      headers: {
        "X-RapidAPI-Key": "877b28e520mshf1282e0d7767a3ap1b37b6jsnd5321f74ef9c",
        "X-RapidAPI-Host": "booking-com15.p.rapidapi.com",
      },
    };

    try {
      const response = await axios.request(options);
      console.log(response.data.data.hotels);
      dataStore.hotelSearchData = response.data.data.hotels;
      console.log(response.data.data.hotels);
    } catch (error) {
      console.error(error);
    }
    return;
  }
};
const dataStore = useAPIData();
</script>

<style scoped>
.destination,
input {
  background-color: #f2f2f2;
  font-size: 13px;
}
.search {
  border-radius: 6px;
  background-color: var(--mainBlue);
}

.location {
  width: 188px;
}
.flipArrow {
  transform: rotate(180deg);
}

li {
  border-bottom: solid 1px rgba(214, 214, 214, 1);
}
</style>

<style>
.dp__pointer {
  background-color: #f2f2f2;
  border: none;
  padding-inline: 4px;
  font-size: 13px;
}
.dp__active_date {
  color: black;
  background-color: var(--mainBlue);
  border-radius: 50%;
}
.dp__action_select {
  background-color: var(--mainBlue) !important;
}

svg {
  visibility: hidden;
}

.dp__pointer::placeholder {
  color: gray;
  font-family: work sans;
}
</style>
