<template>
  <form class="flex items-center justify-evenly gap-1 h-full flex">
    <div class="destination flex items-center rounded">
      <label for="location">
        <figure>
          <img
            src="../../../assets/Form-Svg/Rooms-input.svg"
            alt="location pic"
            class="cursor-pointer mx-1"
            width="20"
            height="20"
          />
        </figure>
      </label>
      <input
        class="py-5 h-10 outline-none"
        type="text"
        id="location"
        placeholder="Where are you going?"
      />
      <!-- //////////////////////////////////////////////// -->
      <label for="checkoutDate">
        <figure>
          <img
            src="../../../assets/Form-Svg/calendar.svg"
            alt=" Calendar pic"
            class="cursor-pointer mx-1"
            width="20"
            height="20"
          />
        </figure>
      </label>
      <input
        class="py-5 h-10 outline-none"
        type="text"
        id="checkoutDate"
        placeholder="Check out date?"
      />

      <!-- /////////////////////////////////////////////////////// -->
      <label for="checkoutDate">
        <figure>
          <img
            src="../../../assets/Form-Svg/calendar.svg"
            alt=" Calendar pic"
            class="cursor-pointer mx-1"
            width="20"
            height="20"
          />
        </figure>
      </label>
      <input
        class="py-5 h-10 outline-none"
        type="text"
        id="checkoutDate"
        placeholder="Check out date?"
      />
    </div>

    <button type="button" class="px-3 py-2.5 text-white w-32 search">
      Search
    </button>
  </form>
</template>

<script setup>
const formData = [
  {
    imageSrc: require("../../../assets/Form-Svg/calendar.svg"),
    alt: "Calendar Pic",
    id: "checkinDate",
    placeholder: "Check in date",
  },
  {
    imageSrc: require("../../../assets/Form-Svg/user-guests.svg"),
    alt: "Guest Person",
    id: "guests",
    placeholder: "Guests",
  },
  {
    imageSrc: require("../../../assets/Form-Svg/Rooms-input.svg"),
    alt: "Bed Pic",
    id: "room",
    placeholder: "Rooms",
  },
];
</script>

<style scoped>
.destination,
input {
  background-color: #f2f2f2;
  font-size: 13px;
}
.search {
  border-radius: 6px;
  background-color: var(--mainBlue);
}
</style>
