<template>
  <form class="flex items-center justify-evenly gap-1 h-full flex">
    <div class="flex items-center rounded">
      <div class="gap-3 flex">
        <div
          class="location flex destination rounded items-center"
          @click="handleArrow"
        >
          <label for="browser">
            <figure>
              <img
                src="../../../assets/Form-Svg/Rooms-input.svg"
                alt="location pic"
                class="cursor-pointer mx-1"
                width="20"
                height="20"
                @click="x"
              />
            </figure>
          </label>
          <input
            type="text"
            class="py-5 h-10 outline-none w-10/12"
            id="browser"
            placeholder="Where are you going?"
            @click="flipArrow = !flipArrow"
            v-model="searchQuery"
            @input="getSearchResult"
          />
          <img
            src="../../../assets/Form-Svg/arrow-down 1.svg"
            alt="arrow"
            width="15"
            height="15"
            class="mr-1"
            :class="{ flipArrow: arr }"
          />
          <ul
            class="absolute text-black w-1/5 rounded-lg shadow-md py-2 px-1 top-[67px] bg-white"
            v-show="mapboxResult"
          >
            <li
              v-for="searchResult in mapboxResult"
              :key="searchResult.id"
              class="py-2 cursor-pointer"
              :ref="inputValue"
              @click="handleInp"
            >
              {{ searchResult.place_name }}
            </li>
          </ul>
        </div>
        <!-- //////////////////////////////////////////////// -->
        <div class="checkin flex destination rounded items-center">
          <label for="checkinDate">
            <figure>
              <img
                src="../../../../assets/Form-Svg/calendar.svg"
                alt=" Calendar pic"
                class="cursor-pointer mx-1"
                width="20"
                height="20"
              />
            </figure>
          </label>
          <CheckinDate></CheckinDate>
        </div>

        <!-- /////////////////////////////////////////////////////// -->
        <div class="checkout flex destination rounded items-center">
          <label for="checkinDate">
            <figure>
              <img
                src="../../../assets/Form-Svg/calendar.svg"
                alt=" Calendar pic"
                class="cursor-pointer mx-1"
                width="20"
                height="20"
              />
            </figure>
          </label>
          <div class="w-40">
            <VueDatePicker
              v-model="outdate"
              placeholder="Check out date"
              id="checkinDate"
              format="MM/dd/yyyy"
              value-format="MM-dd-yyy"
              :enable-time-picker="false"
            ></VueDatePicker>
          </div>
        </div>

        <!-- ////////////////////////////////////////////////////////////// -->
        <div class="guests flex destination rounded items-center">
          <label for="guests">
            <figure>
              <img
                src="../../../assets/Form-Svg/user-guests.svg"
                alt=" Guest Person"
                class="cursor-pointer mx-1"
                width="20"
                height="20"
              />
            </figure>
          </label>
          <input
            class="py-5 h-10 outline-none"
            type="text"
            id="guests"
            placeholder="Guests"
          />
        </div>
        <!-- /////////////////////////////////////////////////// -->
        <div class="room flex destination rounded items-center">
          <label for="room">
            <figure>
              <img
                src="../../../assets/Form-Svg/Rooms-input.svg"
                alt=" Bed Pic"
                class="cursor-pointer mx-1"
                width="20"
                height="20"
              />
            </figure>
          </label>
          <input
            class="py-5 h-10 outline-none"
            type="text"
            id="room"
            placeholder="Room"
            ref="roo"
          />
        </div>
      </div>
    </div>

    <button
      type="button"
      class="px-3 py-2.5 text-white w-32 search"
      @click="dates"
    >
      Search
    </button>
  </form>
</template>

<script setup>
import { ref } from "vue";
// import CheckOut from "../HeaderComponent/DatesInputs/CheckoutDate";
import VueDatePicker from "@vuepic/vue-datepicker";
import "@vuepic/vue-datepicker/dist/main.css";

// import LocationInput from "../HeaderComponent/LocationInput/LocationInput";
import axios from "axios";
import CheckinDate from "./DatesInputs/CheckinDate.vue";
const searchQuery = ref("");
const queryTimeout = ref(null);
const APIKey =
  "pk.eyJ1IjoiYWhhbWR5OTciLCJhIjoiY2xwYWZnZHg4MDdwNDJqcGI4MGdwY2F5YSJ9.dvu-3ApGvQWvYg8_Eb_0Zw";

const mapboxResult = ref(null);
const getSearchResult = () => {
  clearTimeout(queryTimeout.value);
  queryTimeout.value = setTimeout(async () => {
    if (searchQuery.value !== "") {
      const result = await axios.get(
        `https://api.mapbox.com/geocoding/v5/mapbox.places/${searchQuery.value}.json?access_token=${APIKey}&type=place`
      );
      mapboxResult.value = result.data.features;
      return;
    }
    mapboxResult.value = null;
  }, 300);
};
// const inDate = ref("");
// const outDate = ref("");
const inputValue = ref("");
const handleInp = function () {
  const x = inputValue.value;
  console.log(x);
  // mapboxResult.value = false;
};
const roo = ref("");
//get data by search name
const dates = function (data) {
  // const options = {
  //   method: "GET",
  //   url: "https://booking-com15.p.rapidapi.com/api/v1/hotels/searchDestination",
  //   params: { query: `${searchQuery.value}` },
  //   headers: {
  //     "X-RapidAPI-Key": "592e8c58fbmsh7a0ef8ea383d846p183eb7jsn58f3eedb55f9",
  //     "X-RapidAPI-Host": "booking-com15.p.rapidapi.com",
  //   },
  // };

  // try {
  //   const response = await axios.request(options);
  //   console.log(response.data);
  // } catch (error) {
  //   console.error(error);
  // }
  console.log(outdate.value);
  console.log(data.value);
};
// ////////////////////////////
const outdate = ref("");
// const indate = ref("");
const arr = ref(false);
const handleArrow = function () {
  arr.value = !arr.value;
};
</script>

<style scoped>
.destination,
input {
  background-color: #f2f2f2;
  font-size: 13px;
}
.search {
  border-radius: 6px;
  background-color: var(--mainBlue);
}

.location {
  width: 188px;
}
.flipArrow {
  transform: rotate(180deg);
}

li {
  border-bottom: solid 1px rgba(214, 214, 214, 1);
}
</style>

<style>
.dp__pointer {
  background-color: #f2f2f2;
  border: none;
  padding-inline: 4px;
  font-size: 13px;
}
.dp__active_date {
  color: black;
  background-color: var(--mainBlue);
  border-radius: 50%;
}
.dp__action_select {
  background-color: var(--mainBlue) !important;
}

svg {
  visibility: hidden;
}

.dp__pointer::placeholder {
  color: gray;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
</style>
